<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

<link href="/css/styles.css" rel="stylesheet">

</head>

<body class="gris-claro">
<header class="fondo"> 
    <div class="cabecera"> 
<div class="logo"> <img src="images/logo-mercado-liebre.svg" width="100%"> </div>


<div class="barra">  <form action="/" method="POST">
    <input type="search" name="busqueda" placeholder="Buscar Productos, Marca..." width="100%">  <i class="fas fa-search"></i>
</form>
</div>

</div>
<p class="compra"> <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjetas de credito </p>
<div class="menu"> 
<ul> 
    <li class="submenu1">   <a href="">Ofertas</a> </li>
    <li class="submenu2">   <a href="">Tiendas Oficiales</a> </li>
    <li class="submenu3">   <a href="">Vender</a> </li>
    <li class="submenu4">   <a href="">Ayuda</a> </li>
</ul> 

<ul> 
   <div class="cuenta"> <li> <a href="./register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>  </div>
  <div class="login"> <li> <a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li> </div>
   <div class="compras">  <li> <a href="">Mis compras <i class="fas fa-shopping-cart"></i></a> </li> </div>
</ul>
</div>


<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
     <img src="images/img-home-banner.jpg" width=100% class="banner"> 

 </header> 
 <main class="centrar"> 
    <h4 class="titulares">Basado en tus ultimas visitas</h4>
<section class="containerProductos">  
    

    <article class="producto">
        <img src="images/img-cafetera-moulinex.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
            <p class="precio">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
            <p class="descripciones">Cafetera Moulinex</p>
            </div>
            
        </div>
    </article>

    <article class="producto">
        <img src="images/img-macbook-pro-2019.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
            <p class="precio">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
            <p class="descripciones">MacBook Pro 2019</p>
            </div>
            
        </div>
    </article>


    <article class="producto">
        <img src="images/img-samsung-galaxy-s10.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
                <p class="descripciones">Samsung Galaxy S10</p>
            </div>
            
        </div>
    </article>

    <article class="producto">
        <img src="images/img-tv-samsung-smart.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
                <p class="precio">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
                <p class="descripciones">Smart Tv Samsung 43"</p>
            </div>
            
        </div>
    </article>

</section>
<h4>Seccion de Ofertas</h4>
<section class="containerProductos"> 
    

    
    <article class="producto">
        <img src="images/img-cafetera-moulinex.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
            <p class="precio">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
            <p class="descripciones">Cafetera Moulinex</p>
            </div>
            
        </div>
    </article>

    <article class="producto">
        <img src="images/img-macbook-pro-2019.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
            <p class="precio">$230.000</p>
            <p class="descuentos">20% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
            <p class="descripciones">MacBook Pro 2019</p>
            </div>
            
        </div>
    </article>


    <article class="producto">
        <img src="images/img-samsung-galaxy-s10.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
                <p class="descripciones">Samsung Galaxy S10</p>
            </div>
            
        </div>
    </article>

    <article class="producto">
        <img src="images/img-tv-samsung-smart.jpg" width="350" height="350">
        <div class="fichaProducto">
            <div style="display:flex;">
                <p class="precio">$23.200</p>
            <p class="descuentos">5% OFF</p>
            <i class="fas fa-truck"></i>
        </div>
            <div class="descripcion oculto">
                <p class="descripciones">Smart Tv Samsung 43"</p>
            </div>
            
        </div>
    </article>
</section>


</main>

<footer>
    <section class="footer">
    <section>
        <div class="footer-icons">
            <i class="far fa-credit-card icons-hover"></i>
        </div>
        <h2> Pagá con tarjeta o en efectivo</h2>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
    </section>    
    <section>
        <div class="footer-icons ">
            <i class="fas fa-gift icons-hover"></i>
        </div>
        <h2> Envío gratis desde los $2.500</h2>
        <p> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>    
    </section>
    <section>
        <div class="footer-icons">
            <i class="fas fa-user-shield icons-hover"></i>
        </div>
        <h2>Seguridad de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>    
    </section>
</section>
    <section class="copyright centrar">
        <p>Copyright C 1999-2020 MercadoLiebre S.R.L.</p>    
    </section>  
</footer>
    
</body>




</html>
