<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

<link href="/css/styles.css" rel="stylesheet">

</head>

<body class="gris-claro"> 



<header class="fondo"> 
    <div class="cabecera"> 
<div class="logo"> <img src="images/logo-mercado-liebre.svg" width="100%"> </div>


<div class="barra">  <input type="search" name="busqueda" placeholder="Buscar Productos, Marca..." width="100%">  <i class="fas fa-search"></i></div>

</div>
<p class="compra"> <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjetas de credito </p>
<div class="menu"> 
<ul> 
    <li class="submenu1">   <a href="">Ofertas</a> </li>
    <li class="submenu2">   <a href="">Tiendas Oficiales</a> </li>
    <li class="submenu3">   <a href="">Vender</a> </li>
    <li class="submenu4">   <a href="">Ayuda</a> </li>
</ul> 

<ul> 
   <div class="cuenta"> <li> <a href="./register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>  </div>
  <div class="login"> <li> <a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li> </div>
   <div class="compras">  <li> <a href="">Mis compras <i class="fas fa-shopping-cart"></i></a> </li> </div>
</ul>
</div>


<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
     <img src="images/img-home-banner.jpg" width=100% class="banner"> 

 </header> 
 
<main class="centrar"> 

<section>  
    <h4>Basado en tus ultimas visitas</h4>

    <article class="producto">
        <img src="images/img-cafetera-moulinex.jpg" width="350" height="350">
        <div class="fichaProducto">
            <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones">Cafetera Moulinex</p>
        </div>
    </article>
    
<article class="blanco" >
<img src="images/img-cafetera-moulinex.jpg" width="300"> 
<div class="margen-producto"> 
<p class="precio"> $6.770 </p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">40% OFF </p>
</div>
<p class="descripcion"> Cafetera Moulinex </p>

</article>


 
<article class="blanco"> 
<img src="images/img-macbook-pro-2019.jpg" width="300">
<div class="margen-producto">
<p class="precio">$230.000</p>
<div class="camion"> <i class="fas fa-truck"></i> </div>
<p class="descuento">20% OFF</p>
</div>
<p class="descripcion">Macbook Pro 2019</p> 
</article>


 
<article class="blanco">
<img src="images/img-samsung-galaxy-s10.jpg" width="300">
<div class="margen-producto">
<p class="precio"> $70.500 </p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">10% OFF</p>
</div>
<p class="descripcion">Samsung galaxy s10</p>
</article>


 
<article class="blanco"> 
<img src="images/img-tv-samsung-smart.jpg" width="300">
<div class="margen-producto"> 
<p class="precio">$23.200</p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">5% OFF</p>
</div>
<p class="descripcion">Smart Tv Samsung 43"</p>
</article>


</section>

<section> 
    <h4>Seccion de Ofertas</h4>

    
<article class="blanco">
    <img src="images/img-cafetera-moulinex.jpg" width="300">
    <div class="margen-producto">  
    <p class="precio">$6.770</p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">40% OFF</p>
</div>
<p class="descripcion">Cafetera Moulinex</p>
</article>



<article class="blanco"> 
    <img src="images/img-macbook-pro-2019.jpg" width="300">
    <div class="margen-producto">
 <p class="precio">$230.000</p>
    <div> <i class="fas fa-truck"></i> </div>
    <p class="descuento">20% OFF</p>
   </div>
   <p class="descripcion">Macbook Pro 2019</p> 
    </article>



<article class="blanco"> 
<img src="images/img-samsung-galaxy-s10.jpg" width="300">
<div class="margen-producto">
<p class="precio"> $70.500 </p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">10% OFF</p>
</div>
<p class="descripcion">Samsung galaxy s10</p>
</article>



<article class="blanco"> 
<img src="images/img-tv-samsung-smart.jpg" width="300">
<div class="margen-producto"> 
<p class="precio">$23.200</p>
<div> <i class="fas fa-truck"></i> </div>
<p class="descuento">5% OFF</p>
</div>
<p class="descripcion">Smart Tv Samsung 43"</p>
</article>
</section>


</main>

<footer class="fondo-pie">   
<section>
<ul>  
    <div class="tarjeta"><i class="fas fa-credit-card"></i> </div>
    <li><h5 class="pie">Paga con tarjeta o en efectivo</h5> </li>
    <p class="pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>

        <div class="tarjeta"> <i class="fas fa-gift"></i> </div>
<li><h5 class="pie">Envio gratis desde $2.500</h5></li>
 <p class="pie"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>

    <div class="tarjeta"> <i class="fas fa-user-shield"></i> </div>
<li><h5 class="pie"> Seguridad, de principio a fin</h5></li>
<p class="pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@. </p>

<p class="pie"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </ul>

</section>
</footer>
    
</body>




</html>
