<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

<link href="/css/styles.css" rel="stylesheet">

</head>

<body class="gris-claro"> 



<header class="fondo"> 
    <div class="cabecera"> 
<div class="logo"> <img src="images/logo-mercado-liebre.svg" width="100%"> </div>


<div class="barra">  <input type="search" name="busqueda" placeholder="Buscar Productos, Marca..." width="100%">  <i class="fas fa-search"></i></div>

</div>
<p class="compra"> <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjetas de credito </p>
<div class="menu"> 
<ul> 
    <li>   <a href="">Ofertas</a> </li>
    <li>   <a href="">Tiendas Oficiales</a> </li>
    <li>   <a href="">Vender</a> </li>
    <li>   <a href="">Ayuda</a> </li>
</ul> 

<ul> 
    <div class="cuenta"> <li> <a href="./register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>  </div>
   <div class="login"> <li> <a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li> </div>
    <div class="compras">  <li> <a href="">Mis compras <i class="fas fa-shopping-cart"></i></a> </li> </div>
 </ul>
</div>


<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
     <img src="images/img-home-banner.jpg" width=100% class="banner"> 

 </header> 


<main> 
    <section>
    <form action="/" method="POST">
        <div>
            <label> Nombre y apellido:  </label>
            <input type="text" name="Nombre y Apellido">
        </div>
        <br>
        <div>
            <label> Nombre de usuario: </label>
            <input type="text" name="Nombre de usuario">
        </div>
        <br>
        <div>
            <label> Fecha de nacimiento: </label>
            <input type="text" name="Fecha de nacimiento">
        </div>
        <br>
        <div>
            <label> Domicilio: </label>
            <input type="text" name="Domicilio">
        </div>
        <br>
        <div>
            <label> Perfil del usuario: </label>
            <label> Comprar:</label>
            <input type="radio" name="Perfil del usuario" value="Comprar"> 
        </div>
        <br>
        <div>
            <label> Vender:</label>
            <input type="radio" name="Perfil del usuario" value="Vender">  
            <br>
            <label> Categorias:</label>
            <label> <input type="checkbox" name="Categorias" value="Electro" > Electro </label>
            <label> <input type="checkbox" name="Categorias" value="Moda"> Moda </label>
            <label> <input type="checkbox" name="Categorias" value="Hogar"> Hogar </label>
            <label> <input type="checkbox" name="Categorias" value="Jugueteria"> Jugueteria </label>
            <label> <input type="checkbox" name="Categorias" value="Vida Sana"> Vida Sana  </label>
        </div>
        <br>

        <div>
<label>Seleccionar una imagen para el perfil:</label>
<input type="file" name="avatar" accept=".jpg" multiple>
</div>
<br>
<div></div>
<label> Contraseña: </label>
<input type="password" name="password"> 
</div>
<div></div><br>
<label> Confirmar Contraseña:</label>
<input type="password" name="password"> 
</div>
<br>

<button type="submit" > Enviar </button> 

<button type="reset" > Borrar </button> 

    </form>
</section>
</main>



</body> 