.cabecera { display: flex;
}

.logo { width: 50%;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 30px;
    
}

.barra { 
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
    margin-left: 20px;
    
    
}

.compra { 
    justify-content: space-around;
    margin-left: 20px;

}


.fondo { 

    background-color:#EAC926; ;
    background-size: cover;
    
}

p { font-family: 'Roboto', sans-serif;
font-size: 12px;}

h4 { font-family: 'Roboto', sans-serif;
font-size: 24px; }

.precio { 
    font-size: 18px;
    font-weight: bolder;
    flex-direction: row;
    flex-grow: 0.30;
    justify-content:flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.descuento { 
    font-weight: bold;
    font-size: 16px;
color: #39b54a;
justify-content:flex-start;
flex-grow:0.70;
flex-direction: row;
align-items: flex-start;
}

.descripcion { 
    font-size: 16px;

}
.descripcion:hover {display:show; }
.descripcion:hover {display:none;}

.fa-truck { 
    color:#39b54a;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: relative;
right: 20px;
top: -15px;



 }


 @keyframes fa-truck {
     0% { transform: rotate(0deg);}
     25% { transform: rotate(-45deg);}
     100% { transform: rotate(-90deg);}
 }



.fa-bars { 
    background-color:#035dbd;
    color: white;
    padding: 8px;
    border-radius: 20%;

} 

.burger-menu { text-align: center;}

.tarjeta { text-align: center;
    color: #075ab3;}
    .pie { text-align: center;}

    .gris-claro { background-color: #ebebeb;
    text-align: center; 
padding-top: 5px;
margin: 0 auto }

    
    .fondo-pie { background-color:white; 
    padding-top: 8px;
padding-bottom: 8px;}

.centrar { text-align: center; 
width: 90%;
padding:15px;}

.margen-producto { margin-bottom: 10px;
border-top:solid 1px #ebebeb;
box-sizing: border-box;
padding: auto;
display:flex;}

.blanco { background-color: white;}

.menu { text-align: left;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:unset;
    align-content:flex-start;}

.banner { display: flex;
margin-top: 5px;}

@media screen and (max-width:425px){
    .descripcion { display: none; }
    .menu { display: none; }
    .blanco {box-shadow: 0px 0px 10px rgb(100, 100, 100); }
}
     
 

@media screen and (min-width:768px) { 
    
    .burger-menu { display: none;}
    .blanco:hover { box-shadow: 0px 0px 10px rgb(100, 100, 100); }
    .fa-truck:hover { 
        animation-name: fa-truck;
        animation-duration: 500ms;
        animation-iteration-count: initial;
        
    }
}

.cuenta {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.login {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.compras { order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.submenu1 {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.submenu2 {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.submenu3 {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}

.submenu4 {  order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;}


    html{
        font-size:10px;
        font-size:1.2em;
        
        margin: 0px;
        padding: 0px;
    }
    
    body{
        margin: 0px;
        padding: 0px;
        font-family:'Roboto';
        background-color: #ebebeb;
        background-color: #EAC926;
        display:grid;
    }
    
    header,nav{
        margin: 0px;
        padding: 0px;
        background-color: #EAC926;
    }
    main{
        background-color: #ebebeb;
        width:90%;
        margin-left: auto;
        margin-right:auto;
    }
    
    .burger-menu{
    text-align:center;
    background-color: #1259c3;
    color:white;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:10px;
    }
    
    #compraCuotas{
        text-align: center;
    }
    .fa-search{
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: thin;
        margin-top: 2px;
    }
    
    .fa-truck{
        color: green;
        -moz-border-radius: 30px; /* or 50% */
        border-radius: 30px; /* or 50% */
    }
    nav ul{
        padding: 0;
        list-style-type: none;
    }
    .precio{
    font-size:18px;
    }
    
    .titular{
        font-size:24px;
    }
    
    .descuentos{
        font-size:16px;
    }
    
    .descripciones{
        font-size:16px;
    }
    
    .titulares{
        font-size:24px;
    }
    
    .producto{
        margin-bottom:10px;
        background-color:white;
    }
    footer{
        background-color:white;
        padding:10px;
    }
    
    footer section{
        background-color:white;
        padding:30px;
        text-align:center;
    }
    
    footer i{
        font-size:2em;
        margin-bottom:10px;
    }
    
    .footer-icons{
    
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        color: #1259c3;
    }
    
    
    .fichaProducto{
        border-color:#ebebeb;
        border-style: solid;
        border-top-width: 1px;
        padding:15px;
        border-left: 0;
        border-right: 0;
    }
    
    .producto img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
    
    section{
        padding:15px;
    }
    
    .banner img{
        width:100%;
    }